[Desktop Entry]
Version=1.0
Type=Application
Terminal=false
Name=Home Cloud Server
Exec=HomeCloudServerApp %u
Icon=app_logo_installer
Categories=Utility;